@page
@model IndexModel
@{
    ViewData["Title"] = "välkommen till mitt bajs cv";
}

<div class="text-center">

    <h1>
        HEJ HEJ HALLÅ KATTEN ÄR DUM!
        <img src="https://blobbenbob.blob.core.windows.net/containerblobb/Red_Kitten_01.jpg" alt="">
    </h1>
    
</div>
